[submodule "Desktop/Protfolio Project/ProtFolio"]
	path = Desktop/Protfolio Project/ProtFolio
	url = https://github.com/Naveenkuratti/ProtFolio.git
[submodule "Desktop/ProtFolio"]
	path = Desktop/ProtFolio
	url = https://github.com/Naveenkuratti/ProtFolio.git
